<div>
    <label>Select Case: </label>
    <select ng-model="data.case">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>

    <div>
        <label>Input: </label>
        <input type="text" placeholder="input route (ex. A-B)" ng-model="data.route">
    </div>

    <div ng-show="data.case == 2">
        <label>Maximum stop: </label>
        <input type="number" ng-model="data.maxstop">

        <label>Cost less than: </label>
        <input type="number" ng-model="data.costless">
    </div>

    <br><br>
    <button ng-click="submit()">Submit</button>
</div>